# VSCode Ignores files & folders
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Composer Ignores files & folders
composer.phar
vendor/*